* {
    margin: 0;
    padding: 0;
}

.content {
    height:  80vh;

    &--1 {
        background: orange;
    }

    &--2 {
        background: orchid;
    }

    &--3 {
        background: goldenrod;
    }
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: rgb(153, 83, 51);
    width: 200px;
}

.sidebar-content-1 {
    background: red;
    height: calc(100vh - 400px);
    margin: 2rem;
    overflow: auto;
}

.sidebar-content-2 {
    background: cadetblue;
    padding: 4rem;
    margin: 2rem;
}

.sidebar-inner {
    background: rgb(255, 243, 243);
    height: 400px;
    margin: 2rem;
}